* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $dark;
  color: $light;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  overflow: hidden;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  
}

main {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

a, 
a:hover, 
a:focus, 
a:active {
  text-decoration: none;
  color: inherit;
 }
