* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $dark;
  color: $light;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  overflow: hidden;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
}

main {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
 }

input,
textarea {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  border: 1px solid $light;
  border-radius: 0.3rem;

  color: $light;
  background-color: $dark;

  padding: 0.5rem;

  font-size: 1.2rem;
  font-family: inherit;
}

input:focus,
textarea:focus {
  outline: none;
}

