// HOME

.home {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;

  h2, p {
    max-width: 700px;
    width: 100%;
  }

  .accent { color: $primary; }
}

// SECTIONS

section {
  margin: 0 auto;
  padding-top: 7rem;
  padding-bottom: 1rem;
  width: 85%;

  hr {
    background-color: $primary;
    height: 1px;
    border: none;
    width: 100%;
    max-width: 10rem;
    margin-bottom: 2rem;
  }

  &.home { padding: 0; }

  .title { margin-bottom: 1rem; }

  .subtitle { margin-bottom: 1rem; }

  .description {
    font-family: 'Playfair Display', serif;
    margin-bottom: 2rem;

    span { font-style: italic; }
  }

  .content { margin-bottom: 2rem; }

  .subcontent { margin-bottom: 2rem; }

  // LISTS

  ul {
    .list-item {
      margin-bottom: 1rem;

      .bullet {
        color: $primary;
        font-weight: bold;
      }
    }

    &.investments {
      display: flex;
      flex-wrap: wrap;

      li {
        margin: 1rem;
        flex-grow: 1;

        border: 1px solid $primary;
        height: 150px;
        width: 200px;

        @media (min-width: 700px) {
          max-width: 200px;
        }
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

      }
    }

    &.domains {
      li {
        border: 1px solid $primary;
        display: inline-block;
        margin-right: 1rem;
        padding: 0.5rem;
      }
    }
  }

  // ANIMATIONS

  .title,
  .subtitle,
  .description,
  .content,
  .subcontent,
  .list-item,
  hr {
    transition: all 0.5s ease-in-out;
    transform: translateY(50px);
    opacity: 0;

    &.fade {
      transform: translateY(0);
      opacity: 1;
    }
  }

}
